<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="column" fxFlex="25" >
    <div class="image1">
      <img class="image2" src="assets/logo/PurpleWire logo.jpeg" alt="PurpleWire-logo"/>
    </div>
  </div>
  <div fxLayout="column" fxFlex="50">
    <div class="header-text">Asset Tracking Platform</div>
  </div>
  <div fxLayout="column" fxFlex="25">
    <div class="image1">
      <img src="assets/logo/Provincial Logo.png" alt="e-gov-logo"/>
    </div>
  </div>
</div>
